.footer-bar {display: none}

/*To-Do: Add more stylings or common phone sizes*/

/*Targeting Samsung Galaxy S5 & S6 Will add more if deadline permits*/
@media screen
  and (max-width: 360px)
  and (max-height: 640px)
  and (-webkit-device-pixel-ratio: 3){

    body {
      width: 100%;
      margin:0px auto;
      background-color: #FFFFFF;
    }

  .footer-bar {
    display: block;
    text-align: center;
    background-color: #000000;
    height: 100px;
    width: 100%;
  }

  .footer-links {
    display: inline-block;
    transform: skewX(-30deg);
    padding-bottom: 10px;

  }

  .footer-links:nth-child(-n+2) {
    border-right: 2px solid #9B9B9B;
  }

  .footer-link {
    padding-left: 30px;
    padding-right: 30px;
    color: #9B9B9B;
    font-size: 10px;
    font-weight: 500;
    transform: skewX(30deg);
  }
  .footer-bar > p {
    color: #9B9B9B;
    font-size: 10px;
  }
}
