body {
  padding: 0;
  margin:0 auto;
}
.header-bar {
  height: 56px;
  width: 100%;
  background: linear-gradient(to right, #000000 60%, #F88200 40%);
  text-align:center;
  overflow:hidden;
}

.header-left-links {
  height: 100%;
  width: 80%;
  background-color: #000000;
  float: left;
  transform: skewX(-15deg);
}

.left-link {
  margin-right: 5%;
  float:right;
}

.header-right-links {
  height: 100%;
  width: 20%;
  background-color: #F88200;
  float: right;
}

.right-link {
  display: inline-block;
  width: 32%;
  transform: skewX(-15deg);
}

.right-link:not(:last-child){
  border-right: 1px solid #FFFFFF;
}

.link-icon {
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  transform: skewX(15deg);
}

/*To-Do: Add more stylings or common phone sizes*/

/*Targeting Samsung Galaxy S5 & S6 Will add more if deadline permits*/
@media screen
  and (max-width: 360px)
  and (max-height: 640px)
  and (-webkit-device-pixel-ratio: 3){

    body {
      width: 100%;
      margin:0px auto;
      background-color: #FFFFFF;
    }

    body {
      width: 100%;
      margin:0 auto;
    }

    #clock-link {
      display: none
    }

    .header-left-links {
      width: 70%;
    }

    .left-link {
      display: none;
    }

    .header-right-links {
      width: 30%;
    }

    .right-link {
      width: 49%;
    }

    .right-link:nth-child(n+2) {
      border-right: none;
    }
}
