.header-bar {
  padding-left: 1%;
  text-align:center;
  width: 101%;
  height: 56px;
  background: linear-gradient(90deg, black 80%, orange 20%);
}

.header-right {
  background-color: orange;
  height: 100%;
  width: 20%;
  display: inline-block;
  float: right;
  transform: skewX(-15deg);
}

.header-left {
  background-color: black;
  color: white;
  width: 80%;
  height: 100;
  float: left;
  transform: skewX(-15deg);
}

.left-button-group {
  float:right;
  margin-right: 3%;
}

.left-button-group-icon {
  padding-top: 24px;
  padding-bottom: 16px;
  transform: skewX(15deg);
  color: white;
}

.right-button-group {
  display: inline-block;
  width: 32%;
}

.right-button-group-icon {
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  transform: skewX(15deg);
  color: white;
}

.right-button-group:nth-child(-n+2) {
  border-right: 1px solid white;
}
