body {
  margin: auto;
  padding: 0;
  width: 1024px;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.header-bar {
  height: 56px;
  width: 101%; /*Cover right gap with extra 1% width*/
  background: linear-gradient(90deg, #000000 80%, #F88200 20%); /*keeps header-left and header-right backgrounds consistent*/
  padding-left: 1%; /*Cover left gap with 1% padding*/
  text-align:center; /*keeps icons in the middle*/
}

.header-left-button-group {
  height: 100%;
  width: 80%;
  background-color: #000000;
  float: left;
  transform: skewX(-15deg);
}

.header-right-button-group {
  height: 100%;
  width: 20%;
  background-color: #F88200;
  float: right;
  transform: skewX(-15deg);
}

.header-left-button {
  margin-right: 5%;
  float:right;
}

.header-right-button {
  display: inline-block;
  width: 32%;
}

.button-icon {
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  transform: skewX(15deg);
}

.header-right-button:not(:last-child){
  border-right: 1px solid #FFFFFF;
}

.footer-bar {
  /* visibility: hidden; */
  display: none !important; /*use display instead of visibility, since we want that unused space back on desktop version*/
}

.additional-info-group {
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 24px;
}

.exterior-section {
  height: 290px;
  width: 480px;
  margin-right: 8px;
  display: inline-block;
  background-color: white;
}

.exterior-section-heading {
  font-size: 24px;
  font-weight: 900;
  color: grey;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 8px;
}

.exterior-section-row {
  padding-bottom: 16px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 16px;
}

.exterior-section-row:nth-child(n+4){
  border-bottom: 3px solid #9B9B9B;
}

.exterior-section-table-key {
  display: inline-block;
  color: grey;
  font-weight: 500;
  font-size: 16px;
  width: 230px;
}

.exterior-section-table-value {
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: inline-block;
}

.performance-section {
  width: 480px;
  height: 290px;
  background-color: #EFEFF2;
  display: inline-block;
}

.performance-section-heading {
  font-size: 24px;
  font-weight: 900;
  color: grey;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 8px;
}

.performance-section-row {
  padding-bottom: 16px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 16px;
}

.performance-section-row:nth-child(n+4){
  border-bottom: 3px solid #9B9B9B;
}

.performance-section-table-key {
  display: inline-block;
  color: grey;
  font-weight: 500;
  font-size: 16px;
  width: 230px;
}

.performance-section-table-value {
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: inline-block;
}

.main-image {
  height: 432px;
  width: 728px;
  float: left;
}

.middle-block {
  background-color: #EFEFF2;
  padding-top: 24px;
  padding-bottom: 24px;
}

.call-bar-mobile {
  height: 50px;
  width: 100%;
  font-wieght: 900;
  font-size: 40px;
  text-align: center;
  color: white;
  padding-top: 5px;
  background-color: #3FB34A;
  display: none;
}

.gallery-bar {
  overflow: hidden;
  background-color: #EFEFF2;
  display: inline-block;
  width: 169px;
  height: 210px;
}

.gallery-bar:nth-child(-n+5) {
  margin-right: 2px;
}

.gallery-bar-slot {
  height: 100%;
}

.image-group {
  height: 500px;
  width: 100%;
  display: none;
}

.detail-summary-section {
  height: 432px;
  width: 296px;
  height: 432px;
}

.car-name {
  font-size: 30px;
  font-weight: 900;
  margin-top: 48px;
  margin-left: 40px;
  margin-button: 32px;
}

.detail-summary-table {
  margin-top: 0px;
  margin-left: 40px;
}

.detail-summary-section-two {
  margin-left: 40px;
}

.detail-summary-table-key {
  color: #9B9B9B;
  margin-bottom: 8px;
  margin-top: 0px;
  font-size: 12px;
  font-weight: 500;
}

.detail-summary-table-value {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 900;
  font-size: 16px;
}

.shares-section {
  width: 120px;
  margin-top: 24px;
}

.share-link {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin: 0;
}

.envelope-icon {
  float: right;
}

.page-info-table {
  margin-top: 32px;
}

.page-info-section {
  dispaly: inlineb-block;
  margin-right: 50px;
}

.page-info-key {
  color: #9B9B9B;
  margin-bottom: 8px;
  margin-top: 0px;
  font-size: 12px;
  font-weight: 500;
}

.page-info-value {
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: 900;
  color: green;
}

@media only screen and (max-width: 500px) {
  body{
    width: 100%;
    margin: 0;
  }
  #clock-icon-div{
    display:none;
  }

  .header-left-button-group {
    display: none;
  }

  .header-right-button-group {
    width: 48%;
  }

  .main-image {
    display: none;
  }

  .gallery-row {
    display: none;
  }

  .image-group {
    display: inline-block;
  }

  .detail-summary-table {
    width: 100%;
    margin-bottom: 0;
  }

  .detail-summary-section-two {
    display: inline-block;
    width:45%;
  }

  .car-name {
    font-size: 60px;
    font-weight: 900;
    margin-top: 32px;
  }


  .detail-summary-table-key {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 8px;
    color: grey;
  }

  .detail-summary-table-value {
    font-size: 32px;
    font-weignt: 900;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .page-info-key {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 8px;
    color: grey;
  }

  .page-info-value {
    text-align: center;
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    color: green;
  }

  .shares-section {
      margin-top: 24px;
      width: 220px;
  }

  .share-link {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
    display: inline-block;
  }

  .call-bar-mobile {
    display: block;
  }

  .additional-info-group {
    margin-top: 24px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .exterior-section {
    width: 100%;
    height: auto;
    margin-right:0px;
    padding-bottom: 40px;
    margin-bottom: 16px;
  }

  .performance-section {
    width: 100%;
    height: auto;
    margin-right: 0px;
    padding-bottom: 40px;
  }

  .exterior-section-heading {
    margin-left: 40px;
    margin-bottom: 8px;
    margin-top: 40px;
    font-size: 48px;
    font-weight: 900;
    color: grey;
  }

  .performance-section-heading {
    margin-left: 40px;
    margin-bottom: 8px;
    margin-top: 40px;
    font-size: 48px;
    font-weight: 900;
    color: grey;
  }

  .exterior-section-table-key {
    display: inline-block;
    color: grey;
    font-weight: 500;
    font-size: 32px;
    width: 230px;
  }

  .exterior-section-table-value {
    font-size: 36px;
    font-weight: 500;
    color: black;
    margin-left: 45%;
    display: inline-block;
  }

  .performance-section-table-key {
      display: inline-block;
      color: grey;
      font-weight: 500;
      font-size: 32px;
      width: 230px;
  }

  .performance-section-table-value {
      font-size: 36px;
      font-weight: 500;
      color: black;
      margin-left: 45%;
      display: inline-block;
  }

  .footer-bar {
    display: block;
    padding-top: 32px;
    width: 100%;
    height: 200px;
    background-color: #000000;
    text-align: center;
  }

  .footer-bar-links-group {
    display: inline-block;
    transform: skewX(-30deg);
  }

  .footer-bar-links-group:nth-child(-n+2){
    border-right: 2px solid grey;
  }

  .footer-link {
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 32px;
    font-weight: 500;
    color: grey;
    transform: skewX(30deg);
  }

}
