.additional-info-group {
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 24px;
}

.exterior-section {
  height: 290px;
  width: 480px;
  margin-right: 8px;
  display: inline-block;
  background-color: white;
}

.exterior-section-heading {
  font-size: 24px;
  font-weight: 900;
  color: grey;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 8px;
}
