.header-bar {
  height: 56px;
  width: 101%; /*Cover right gap with extra 1% width*/
  background: linear-gradient(90deg, #000000 80%, #F88200 20%); /*keeps header-left and header-right backgrounds consistent*/
  padding-left: 1%; /*Cover left gap with 1% padding*/
  text-align:center; /*keeps icons in the middle*/
}

.header-left-button-group {
  height: 100%;
  width: 80%;
  background-color: #000000;
  float: left;
  transform: skewX(-15deg);
}

.header-right-button-group {
  height: 100%;
  width: 20%;
  background-color: #F88200;
  float: right;
  transform: skewX(-15deg);
}

.header-left-button {
  margin-right: 5%;
  float:right;
}

.header-right-button {
  display: inline-block;
  width: 32%;
}

.button-icon {
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  transform: skewX(15deg);
}

.header-right-button:not(:last-child){
  border-right: 1px solid #FFFFFF;
}
